@layer theme, base, components, primereact, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@import 'primereact/resources/themes/saga-blue/theme.css' layer(primereact);

/* General layout styling */
main {
  @apply m-auto max-w-md min-w-sm sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-6xl;
}

section {
  @apply my-16 inline-block w-full;
}

h2 {
  @apply text-2xl font-semibold text-blue-800;
}

.dingetje {
  @apply flex justify-start items-center h-[118px] bg-black text-white;
  clip-path: polygon(99.6% 0%, 2.8% 0%, 0.44% 19.1%, 0.44% 93.7%, 97.2% 93.7%, 99.6% 75.4%); 
}

@theme {
  --color-capathon-primary: #fcea84;
  --color-capathon-primary-variant: #ffed86;
  --color-capathon-secondary: #1e1e1e;
  --color-capathon-surface: #d9d9d9;
}
