@layer theme, base, components, primereact, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-capathon-primary: #fcea84;
  --color-capathon-primary-variant: #ffed86;
  --color-capathon-secondary: #1e1e1e;
  --color-capathon-surface: #d9d9d9;

  --breakpoint-xs: 30rem;
}

/* General layout styling */
main {
  @apply m-auto w-full sm:w-[90%];
}

section {
  @apply inline-block w-full;
}

.title-block {
  @apply bg-capathon-primary-variant relative left-[-14%] m-0 flex h-20 w-52 justify-center text-center;
}

.section-title-black {
  @apply ml-10 py-20 text-2xl font-bold text-black sm:text-3xl lg:text-4xl
}

.section-title-white {
  @apply ml-10 py-20 text-2xl font-bold text-white sm:text-3xl lg:text-4xl
}

.cut-corners-tl-br {
  @apply [clip-path:polygon(20px_0%,100%_0%,100%_calc(100%-20px),calc(100%-20px)_100%,0%_100%,0%_20px)];
}

.cut-corners-tr-bl {
  @apply [clip-path:polygon(0%_0%,calc(100%-20px)_0%,100%_20px,100%_100%,20px_100%,0%_calc(100%-20px))];
}

.left-hero-shape {
  @apply xs:max-w-[20%] absolute left-0 z-50 mt-10 w-[25%] sm:max-w-[15%] md:max-w-[14%] lg:max-w-[12%] xl:max-w-[9%];
}

.right-hero-shape {
  @apply absolute right-0 z-50 w-[55%] sm:max-w-[40%] md:max-w-[35%] lg:max-w-[30%] xl:max-w-[25%];
}

/* Needed for the coloring of the highlighted menu item */
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  @apply border-black text-black;
}

.p-card {
  @apply shadow-none;
}
